.card{
  max-width: inherit;
}
.form-check-input {
  position: inherit;
  margin-top: .3rem;
  margin-left: -1.25rem;
}
.form-check-label span{
  font-size: 10px;
  color: #72777c;
  display: block;
}
.btn-metabox{
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
    display: table;
    margin: 0 auto;
    width: 50%;
}
.is-primary {
  background: #0085ba;
  border-color: #006a95 #00648c #00648c;
  box-shadow: inset 0 -1px 0 #00648c;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #005d82, 1px 0 1px #005d82, 0 1px 1px #005d82, -1px 0 1px #005d82;
}
#send_new_post{
  margin: 0 !important;
  position: absolute;
  top: 3px;
  left: 0;
}